@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Oswald');
body {
    overflow: scroll;
    padding: 0;
    color: #443235;
    background-color:#fff1e9;
    font-family: futura, Nunito, Arial, sans-serif;
    font-size: 12px;
}

a{
    color: #fbdbc6;
    text-decoration: none;
}

a:hover {
    color: white;
    text-decoration: none;
    transition:.5s;
}

h1 {
    font-size:24px;
    letter-spacing: 3px;
    color: #d4451a;
    text-align:center;
    font-weight: bold;
    letter-spacing: 10px;
    text-shadow: 1.5px 1.5px #232a3c;
    z-index:1000;
}

h2 {
    font-size: 20px;
    color: white;
    text-align: center;
    padding-top: 10px;
    font-family: oswald;
}

header {
    position: fixed;
    height: 200px;
    width: 100%;
    background: #ffa85d;;
    border-bottom: 4px double black;
    text-align: center;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    z-index: 50;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }
 
 header.sticky {
        height: 60px;
        background: black; /*#efc47D;*/
        border-bottom: 3px solid #d4451a;
 }


#subhdr {
    margin-top: 20px;
    font-size: 12px;
    font-family: Oswald;
}
.main {
    top: 200px;
    position: relative;
    text-align: justify;

}

.cols {
    padding-top: 40px;
    height: 100%;

}

#first {
    padding-left: 30px;
    padding-right: 20px;
}
#third {
    padding-left: 20px;
    padding-right: 30px;
}

.icon {
    width: 10%;
    position: fixed;
    z-index: 99;
}

.icon2 {
    width: 8vw;
    position: fixed;
    left: 46vw;
    top: 2vw;
    opacity: 0.25;
    z-index: 55;
}

.article {
    background-color: #e08253;
    color: black;
    padding: 20px;
    border: 1px solid black;
    margin-bottom: 20px;
}
.article2 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;

}
.nytTitle {
    font-size: 14px;
    color: white;
    font-weight: bold;
    text-align: left;
    padding-left: 10px;
}
.nytImg {
    border: 1px solid black;
}

.img {
    border: 1px solid black;
    width: 80px;
}

.snippet {
    margin-top: 10px;
}

.nyt {
    background-color: #54728c;
}

.the-washington-post {
    background-color: #9caab1;
}
.fox-news {
    background-color: #d4451a;
}

.breitbart-news {
    background-color: #73250e;
}

.twt {
    background-color: black;
}
@media (max-width:900px) {
    .article2 {
        flex-direction: column;
        padding-left: 0px;
    }
    .nytTitle {
        padding-top: 10px;
        padding-left: 0px;
    }
    .icon2 {
        width: 80px;
        margin-top: 20px;
    }

}
