@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Oswald');
body {
    overflow: scroll;
    padding: 0;
    color: #443235;
    background-color:#ffa85d;
    font-family: futura, Nunito, Arial, sans-serif;
    font-size: 12px;
}

a{
    color: #fbdbc6;
    text-decoration: none;
}

a:hover {
    color: white;
    text-decoration: none;
    transition:.5s;
}

h1 {
    font-size:24px;
    letter-spacing: 3px;
    color: #d4451a;
    text-align:center;
    font-weight: bold;
    letter-spacing: 10px;
    text-shadow: 1.5px 1.5px #232a3c;
}

h2 {
    font-size: 20px;
    color: white;
    text-align: center;
    padding-top: 10px;
    font-family: oswald;
}

#hdr {
    display: block;
    height: 100%;
    width: 100%;
    text-align: center;
    margin-top:90px;
    position: fixed;
    z-index: 1;
}


#subhdr {
    margin-top: 30px;
    font-size: 12px;
    font-family: Oswald;
}
.main {
    top: 200px;
    position: relative;
    border-top: 4px double black;
    text-align: justify;
    background-color:#fff1e9;
    z-index:99;

}

.cols {
    padding-top: 40px;
    height: 100%;

}

#first {
    padding-left: 30px;
    padding-right: 20px;
}
#third {
    padding-left: 20px;
    padding-right: 30px;
}

.icon {
    width: 12%;
    position: fixed;
}

.icon2 {
    width: 8vw;
    position: fixed;
    left: 46vw;
    top: 4vw;
    z-index: -1;
}

.article {
    background-color: #e08253;
    color: black;
    padding: 20px;
    border: 1px solid black;
    margin-bottom: 20px;
}
.article2 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;

}
.nytTitle {
    font-size: 14px;
    color: white;
    font-weight: bold;
    text-align: left;
    padding-left: 10px;
}
.nytImg {
    border: 1px solid black;
}

.img {
    border: 1px solid black;
    width: 80px;
}

.snippet {
    margin-top: 10px;
}

.nyt {
    background-color: #54728c;
}

.the-washington-post {
    background-color: #9caab1;
}
.fox-news {
    background-color: #d4451a;
}

.breitbart-news {
    background-color: #73250e;
}

.twt {
    background-color: black;
}
@media (max-width:900px) {
    .article2 {
        flex-direction: column;
        padding-left: 0px;
    }
    .nytTitle {
        padding-top: 10px;
        padding-left: 0px;
    }
    .icon2 {
        width: 80px;
        margin-top: 20px;
    }

}
